*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
}

.title-game{
    
    text-align: center;
    font-size: 30px;
    font-family:Akaya Kanadaka, cursive ; 
}

.title-game:first-child{
    color: white;
}


.container{
    width: 60%;
    height: 900px;
    margin: auto;
}

.item{
    padding: 1% 3% 1% ;
    height: 28%;

   
}

.section-1::after{
    content: "";
    display: table;
    clear: both;
    
    
}

.section-1{
    width: 24%;
    height: 100%;
    float:left ; 
    background-color: white;
    margin-left: 1%;
    border-radius: 10px;
    position: relative;
}
     
.item-text{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    bottom: 2%;
    text-align: center;
    
}

.section-img{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    object-fit: contain;
    display: inline-block;
    
}

.discover{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-radius: 10px;
}


.discover:hover{
    display: none;
} 

.hover-img{
    display: inline-block;
}

.text-ballon{
    color: #E31C86;
}

.text-bicycle{
    color: blue;
}
/* uses class */

.border{
    border: 2px solid black;
}

